{% extends '::base.html.twig' %}

{% block title %}
    Page d'accueil | Atelier de Coise
{% endblock %}

{% block body %}
    <div class="left_block">

    </div>

    <div class="middle_block">

    </div>

    <div class="right_block">

    </div>
{% endblock %}

